@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


body {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    background: #1e2747;
}

.verTodas {
    text-decoration: none;
    display: flex;
    color: #8da0bc;
    width: fit-content;
    display: contents;
}

.Carteleras {
    text-decoration-style: none;
    color: #8da0bc;
    margin-bottom: 10px;
    margin-left: 58px;
    width: fit-content;
    display: inline-block;
    margin-right: 24px;
    margin-top: 50px;
    margin-bottom: 30px;
}


.catalogo {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.button:active {
    background-color: rebeccapurple;
}
