.peliculas-card {
  flex-direction: column;
  width: 231px;
  display: inline-flex;
  align-content: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 2px;
  color: #8da0bc;
  }
  
  .peliculas-card img {
    width: 230px;
    margin-bottom: 20px;
    height: 76%;
    border-radius: 16px;
    margin: inherit;
  }
  
  .peliculas-card h4 {
    display: flex;
    font-size: larger;
    align-self: center;
    margin: inherit;
  }

  .peliculas-card p {
    font-size: 85%;
  }

  .btn-info {
    background-color: transparent;
    border-image: none;
    border-color: inherit;
    border-style: inherit;
    color: #8da0bc;
  }
