.peliculas-card {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   width: 25%;
  }
  
  .peliculas-card img {
    width: 230px;
    margin-bottom: 20px;
  }
  
  .peliculas-card h4 {
    width: 25%;
  }

  .peliculas-card p {
    width: 25%;
  }