.card-detalle{
    max-width: 80%;
    display: flex;
    align-content: center;
}

.item-card-detail{
    color: white;
    font-size: 20px;
}

.item-card-detail2 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}